:root {
  /* colors */
  --primary-color: #000;
  --secondary-color: #2b2b2b;
  --tertiary-color: #0081a1;
  --light-grey: #333;
  --bg-white: #fff;
  --main-bg-color: #e4f6fa;
  --bg-color-links: #d2eff7;

  /* headings */
  --h1: 34px;
  --h2: 26px;
  --h3: 22px;
  --h4: 18px;
  --h5: 14px;
  --h6: 10px;

  /* body */
  --font-family: 'Raleway', sans-serif;
  --line-height: 1.7rem;
  --normal-font: 400;
  --bold-font: 700;
}

* {
  box-sizing: border-box;
}

:target:before {
  content: "";
  display: block;
  height: 100px;

  /* Height of your fixed header */
  margin: -100px 0 0;

  /* Negative margin to counteract the header height */
}

body {
  font-family: var(--font-family);
  font-weight: var(--normal-font);
  font-size: 18px;
  line-height: var(--line-height);
  background-color: var(--main-bg-color);
  color: var(--primary-color);
  padding-top: 125px;
}

h1,
h2,
h3 {
  font-weight: var(--bold-font);
}

h1 {
  font-size: var(--h1);
  line-height: 1.4;
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

ul,
li {
  padding: 0;
  list-style-type: none;
}

a,
a:link {
  text-decoration: none;
  color: var(--tertiary-color);
}

a:visited {
  color: var(--light-grey);
}

a:link:hover,
a:link:focus {
  color: var(--secondary-color);
}

a.button {
  color: var(--bg-white);
  margin: 10px 0 20px;
}

a.button:hover,
a.button:focus {
  background-color: var(--tertiary-color);
  color: var(--bg-white);
}

a:active {
  color: var(--primary-color);
}

button,
.button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;

  /* takes the font from the outer container */
  font-family: inherit;

  /* styles the button */
  background-color: var(--tertiary-color);
  color: var(--bg-white);
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 3px;

  /* width of the border, type, color */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: opacity 0.2s;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.profile {
  max-width: 700px;
  margin: 0 auto;
  padding: 40px 0;
  text-align: center;
  overflow: auto;
}

p {
  padding: 0 25px;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 750px;
  margin: 0 auto;
  padding: 40px 0;
}

.profile-container__about {
  background-color: var(--bg-white);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  max-width: 750px;
}

.portrait-wrapper {
  flex: 0 1 auto;
  padding-left: 30px;
}

.portrait-wrapper img {
  max-width: 250px;
  min-width: 100px;
  margin-right: 40px;
  border-radius: 50%;
}

.info-wrapper {
  display: block;
  text-align: center;
  padding: 0 10px;
}

.info-wrapper span {
  background-color: var(--secondary-color);
  color: var(--bg-white);
}

.text-wrapper {
  padding: 0 30px;
}

.text-wrapper div {
  background-color: var(--bg-white);
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(166, 173, 201, 0.2);
  padding: 40px;
  margin: 0 auto;
  line-height: 2rem;
  align-items: center;
  max-width: 900px;
}

.text-wrapper span {
  color: var(--tertiary-color);
  font-weight: var(--bold-font);
}

.profile-info a {
  color: var(--tertiary-color);
}

.form-container {
  display: block;
  text-align: center;
  max-width: 750px;
  margin: 0 auto;
  padding: 0 40px;
}

.contact-me-wrapper {
  flex: 1 auto;
  text-align: center;
}

.form-wrapper {
  background-color: var(--bg-white);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 20px auto;
}

.form-wrapper form {
  display: flex;
  flex-direction: column;
}

.section {
  padding: 40px 20px;
}

.skills-container {
  margin: 35px 0;
}

.skill {
  margin-bottom: 15px;
}

.skill p {
  margin: 0 0 5px;
  font-weight: bold;
}

.skill-bar {
  background-color: #f0f0f0;
  border-radius: 8px;
  height: 20px;
  width: 100%;
}

.skill-level {
  background-color: #4DB6AC;
  border-radius: 8px;
  height: 100%;
  transition: width 0.5s ease-in-out;
}

.skill-bar:hover .skill-level {
  width: 85% !important;

  /* Example of dynamic interaction on hover */
}

.about-me-flex-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

  /* Allows items to wrap on smaller screens */
  margin: 20px 0;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.skills-section,
.cv-section {
  flex: 1;
  text-align: center;
  margin-top: 20px;

  /* This will allow each section to take equal space */
  min-width: 300px;

  /* Prevents the sections from getting too narrow */
  padding: 0 25px;
}

@media (max-width: 1024px) {
  .about-me-flex-container {
    flex-direction: column;
    align-items: center;
  }

  .skills-section,
  .cv-section {
    flex-basis: 100%;
    max-width: 600px;

    /* Adjust for mobile layout */
    padding: 0;
  }
}

.standard-input,
.standard-textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
}

.standard-input:focus,
.standard-textarea:focus {
  border-color: var(--tertiary-color);
  outline: none;
}

.standard-label,
.form-message {
  margin-bottom: 5px;
  font-weight: var(--bold-font);
  text-align: left;
}

label {
  display: block;
}

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
  opacity: 0.9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header .page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.logo {
  height: 55px;
  max-width: 200px;
  padding-top: 20px;
}

/* ----------- Navigation ----------------- */
.navigation-list {
  list-style-type: none;
  justify-content: center;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.navigation-list li .navigation-list__item {
  display: block;
  text-transform: uppercase;
  border-radius: 8%;
}

.navigation-list li .navigation-list__item--active {
  display: inherit;
  text-transform: uppercase;
  background-color: var(--bg-color-links);
  border-radius: 8%;
}

.navigation-list a {
  padding: 10px 15px;
  transition: 1s;
}

.navigation-list a:hover {
  color: var(--tertiary-color);
}

/* Hamburger Menu */
.hamburger {
  display: none;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.hamburger span {
  display: block;
  width: 30px;

  /* Width of the hamburger lines */
  height: 4px;

  /* Height of the hamburger lines */
  margin: 4px 0;
  background: #333;

  /* Color of the hamburger lines */
  transition: all 0.3s ease;
}

.hamburger.is-active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.is-active span:nth-child(2) {
  opacity: 0;
}

.hamburger.is-active span:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}

#hamburger-icon {
  flex: 0 1 auto;
}

.main-navigation {
  display: none;
  width: 100%;
}

.page-footer {
  clear: both;
  flex-direction: column;
  text-align: center;
  padding: 25px;
}

/* ----------------- Projects layout -------------- */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
}

.grid__item {
  background-color: var(--bg-white);
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(166, 173, 201, 0.2);
  padding: 20px;
  margin: 10px;
}

.grid__item a {
  color: var(--tertiary-color);
}

.grid__item a:focus,
a:hover {
  color: var(--secondary-color);
  opacity: 0.9;
}

.link-container {
  text-align: center;
  margin: 10px 0;
}

.project-screenshot {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }

  h3 {
    font-size: var(--h4);
  }

  .profile p {
    padding: 0 50px;
  }
}

@media screen and (min-width: 769px) {
  .main-navigation {
    display: block !important;
  }
}

@media screen and (max-width: 768px) {
  :target:before {
    height: 75px;
    margin-top: -75px;
  }

  .info-wrapper {
    padding: 0 35px;
    margin: 0 25px;
  }

  .logo {
    height: 50px;
  }

  h1 {
    font-size: var(--h2);
  }

  h2 {
    font-size: var(--h3);
  }

  .grid {
    grid-gap: 10px;
  }

  .profile-container {
    flex-direction: column;
  }

  .main-navigation {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  }

  .hamburger {
    display: block;
    height: auto;
  }

  .main-navigation.open {
    display: block;
  }
}

@media all and (max-width: 500px) {
  .profile p {
    padding: 0 50px;
  }

  body {
    padding-top: 90px;
    font-size: 16px;
  }

  .navigation-list a {
    padding: 4px 15px;
  }

  .portrait-wrapper img {
    max-width: 200px;
    min-width: 100px;
    margin-right: 25px;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .info-wrapper {
    padding: 0 40px;
  }

  .logo {
    height: 50px;
  }

  .navigation-list li {
    justify-content: flex-end;
    display: flex;
    padding-right: 25px;
  }

  h1 {
    font-size: var(--h3);
  }

  h2 {
    font-size: var(--h4);
  }
}

@media all and (max-width: 320px) {
  body {
    padding-top: 115px;
  }
}

/* -------------- Animation City of Berlin ---------------- */
.animated-city {
  text-align: center;
  margin-top: 40px;
}

.city-animation {
  max-width: 100%;
  height: auto;
  opacity: 0.8;
  transition: opacity 0.3s easi-in-out;
}

/* General styling for the embedded SVG within the city-wrapper */
.city-wrapper svg {
  max-width: 100%;
  height: auto;
  opacity: 0.8;
}

/* Example of targeting specific elements within the SVG, if known IDs or classes exist */
.city-wrapper svg .specific-part {
  fill: #f00;
}

.city-wrapper {
  max-width: 750px;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
}

@media (max-width: 767px) {
  .city-wrapper {
    padding: 10px 0;
  }

  .animated-city {
    margin-top: 20px;
  }

  .city-animation {
    max-width: 100%;
  }
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes rays-rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.rays {
  animation: 10s rays-rotate infinite linear;
  transform-origin: 404px 43px;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
