/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 2 version
*/

:root {
  /* colors */
  --primary-color: #000;
  --secondary-color: #2b2b2b;
  --tertiary-color: #0081a1;
  --light-grey: #333;
  --bg-white: #fff;
  --main-bg-color: #e4f6fa;
  --bg-color-links: #d2eff7;

  /* headings */
  --h1: 34px;
  --h2: 26px;
  --h3: 22px;
  --h4: 18px;
  --h5: 14px;
  --h6: 10px;

  /* body */
  --font-family: 'Raleway', sans-serif;
  --line-height: 1.7rem;
  --normal-font: 400;
  --bold-font: 700;
}

body {
  font-family: var(--font-family);
  font-weight: var(--normal-font);
  font-size: 18px;
  line-height: var(--line-height);
  background-color: var(--main-bg-color);
  color: var(--primary-color);
}

h1,
h2,
h3 {
  font-weight: var(--bold-font);
}

h1 {
  font-size: var(--h1);
  line-height: 1.4;
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

ul,
li {
  padding: 0;
  list-style-type: none;
}

a,
a:link {
  text-decoration: none;
  color: var(--tertiary-color);
}

a:visited {
  color: var(--light-grey);
}

a:link:hover,
a:link:focus {
  color: var(--secondary-color);
}

a.button {
  color: var(--bg-white);
  margin: 10px 0 20px;
}

a.button:hover,
a.button:focus {
  background-color: var(--tertiary-color);
  color: var(--bg-white);
}

a:active {
  color: var(--primary-color);
}

button,
.button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;

  /* takes the font from the outer container */
  font-family: inherit;

  /* styles the button */
  background-color: var(--tertiary-color);
  color: var(--bg-white);
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 3px;

  /* width of the border, type, color */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;

  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
  padding: 40px 0;
  text-align: center;
  overflow: auto;
}

.profile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 750px;
  margin: 0 auto;
  padding: 40px 0;
}

.profile-container.profile-container__about {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  padding: 0 40px;
}

.portrait-wrapper {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  padding-left: 30px;
}

.portrait-wrapper img {
  max-width: 250px;
  min-width: 100px;
  margin-right: 40px;
  border-radius: 50%;
}

.info-wrapper {
  display: block;
  text-align: center;
  padding: 0 10px;
}

.info-wrapper span {
  background-color: var(--secondary-color);
  color: var(--bg-white);
}

.text-wrapper {
  padding: 0 30px;
}

.text-wrapper div {
  background-color: var(--bg-white);
  -webkit-box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(166, 173, 201, 0.2);
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(166, 173, 201, 0.2);
  padding: 40px;
  margin: 0 auto;
  line-height: 2rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 900px;
}

.text-wrapper span {
  color: var(--tertiary-color);
  font-weight: var(--bold-font);
}

.profile-info a {
  color: var(--tertiary-color);
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 750px;
  margin: 0 auto;
  padding: 0 40px;
}

.contact-me-wrapper {
  -webkit-box-flex: 1;
  -ms-flex: 1 auto;
  flex: 1 auto;
  text-align: center;
  padding: 20px 0;
}

.form-wrapper {
  -webkit-box-flex: 1;
  -ms-flex: 1 auto;
  flex: 1 auto;
  float: right;
  padding: 20px 0;
}

label {
  display: block;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.page-header__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 200px;
  flex: 0 1 200px;
}

.page-header .page-header__item:last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.logo {
  height: 70px;
  max-width: 200px;
  padding-top: 20px;
}

/* ----------- Navigation ----------------- */
.navigation-list {
  list-style-type: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.navigation-list li .navigation-list__item {
  display: block;
  border-radius: 8%;
}

.navigation-list li .navigation-list__item--active {
  display: inherit;
  background-color: var(--bg-color-links);
  border-radius: 8%;
}

.navigation-list a {
  padding: 10px 15px;
  -webkit-transition: 1s;
  transition: 1s;
}

.navigation-list a:hover {
  color: var(--tertiary-color);
}

/* ----------------- Projects layout -------------- */
.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
}

.grid__item {
  background-color: var(--bg-white);
  -webkit-box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(166, 173, 201, 0.2);
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(166, 173, 201, 0.2);
  padding: 20px;
  margin: 10px;
}

.grid__item a {
  color: var(--tertiary-color);
}

.grid__item a:focus,
a:hover {
  color: var(--secondary-color);
  opacity: 0.9;
}

@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .form-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }

  h1 {
    font-size: var(--h2);
  }

  h2 {
    font-size: var(--h3);
  }

  .info-wrapper {
    padding: 0 40px;
  }

  .info-wrapper h1 {
    font-size: var(--h2);
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr;
  }

  h3 {
    font-size: var(--h4);
  }
}

@media all and (max-width: 767px) {
  .grid {
    grid-gap: 10px;
  }

  .profile-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  padding: 25px;
}

table {
  width: 100%;
}

table,
th,
td {
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 30px;
}

/* -------------- Animation City of Berlin ---------------- */
@-webkit-keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

/* long way
.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
} */

/* short way: */
.sun {
  -webkit-animation: 4s color-change infinite alternate linear;
  animation: 4s color-change infinite alternate linear;
}

@-webkit-keyframes rays-rotate {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rays-rotate {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.rays {
  -webkit-animation: 10s rays-rotate infinite linear;
  animation: 10s rays-rotate infinite linear;
  -webkit-transform-origin: 404px 43px;
  transform-origin: 404px 43px;
}

@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
    transform: translate(0, 50px);
  }

  to {
    -webkit-transform: translate(200px, 50px);
    transform: translate(200px, 50px);
  }
}

@keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
    transform: translate(0, 50px);
  }

  to {
    -webkit-transform: translate(200px, 50px);
    transform: translate(200px, 50px);
  }
}

@keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
    transform: translate(0, 50px);
  }

  to {
    -webkit-transform: translate(200px, 50px);
    transform: translate(200px, 50px);
  }
}

/* short way: */
.cloud-front {
  -webkit-animation: 30s cloud-move infinite alternate linear;
  animation: 30s cloud-move infinite alternate linear;
}

@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
    transform: translate(446px, 48px);
  }

  to {
    -webkit-transform: translate(100px, 48px);
    transform: translate(100px, 48px);
  }
}

@keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
    transform: translate(446px, 48px);
  }

  to {
    -webkit-transform: translate(100px, 48px);
    transform: translate(100px, 48px);
  }
}

@keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
    transform: translate(446px, 48px);
  }

  to {
    -webkit-transform: translate(100px, 48px);
    transform: translate(100px, 48px);
  }
}

/* short way: */
.cloud-back {
  -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
  animation: 34s cloud-move-reverse infinite alternate linear;
}
